.search-box {
  -webkit-appearance: none;
  border: solid;
  border-width: 5px;
  border-color: black;
  border-radius: 999px;
  outline: none;
  padding: 1rem;
  width: 40vh;
  height: 4vh;
  line-height: 1em;
  color: black;
}
.searchbdiv {
  padding: 1em;
  justify-content: center;
  align-items: center;
}
